@{
  Layout = "_Layout";
}

@model BOTW.Models.Character

<h2>Add some Style</h2>

<h4>Add an outfit to @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CharacterId)

  @Html.Label("Select an outfit")
  @Html.DropDownList("StyleId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Characters", "Index")</p>