@{
  Layout = "_Layout";
}

@model BOTW.Models.Character;

<h3>Character Details</h3>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntries.Count == 0)
{
  <p>This Character has not visited any locations and has no style.</p>
}
else
{
  <h4>Locations this Character has visited:</h4>
  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    if (join.Location != null)
    {
      <li>@join.Location.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Characters"))
      {
        @Html.Hidden("joinId", @join.CharacterLocationStyleId)
        <input type="submit" value="Delete" />
      }
    }
  }
  </ul>
  <h4>Styles this Character has:</h4>
  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    if (join.Style != null)
    {
      <li>@join.Style.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Characters"))
      {
        @Html.Hidden("joinId", @join.CharacterLocationStyleId)
        <input type="submit" value="Delete" />
      }
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to Characters", "Index")</p>
<p>@Html.ActionLink("Edit Character", "Edit", new { id = Model.CharacterId })</p>
<p>@Html.ActionLink("Add a Location", "AddLocation", new { id = Model.CharacterId })</p>
<p>@Html.ActionLink("Add some style", "AddStyle", new { id = Model.CharacterId })</p>
<p>@Html.ActionLink("Delete Character", "Delete", new { id = Model.CharacterId })</p>