<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BotW</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
        <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-header" aria-hidden="true"></span><li>@Html.ActionLink("Home", "Index", "Home")</li>
          </button>
          
          <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><li>@Html.ActionLink("See all characters", "Index", "Characters")</li>
          </button>
          
          <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-tower" aria-hidden="true"></span><li>@Html.ActionLink("See all locations", "Index", "Locations")</li>
          </button>

          <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><li>@Html.ActionLink("See all styles", "Index", "Styles")</li>
          </button>
        </ul>
      </div>
    </nav>
    @RenderBody()
  </body>
</html>