@{
  Layout = "_Layout";
}

@model BOTW.Models.Location;

<h2>Change this Location</h2>

<h4>Edit @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LocationId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Locations", "Index")</p>